<html>
<head><title>Form</title></head>
<body>
<form method="POST">
 {% csrf_token %}
<input type="text" name="name"></input> Name
<input type="date" name="dob" min="1994-01-01" max=""></input>  DOB
<select name="insurance_type">
    <option value="auto">Auto</option>
    <option value="term">Term</option>
    <option value="health">Health</option>
</select> Policy Type
<input type="number" name="insurance_amt"></input>  Insurance Amt
<input type="number" name="payable_amt" disabled></input>   Payable Amt
<input type="submit" name="submit" value="Calculate"></input>
</form>
</body>
</html>